<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
    body {
      display: block;
      padding: 20px;}
    div{padding-left:40px;}

    </style>

<title>CSP Assignment</title>

</head>
<body>


    <h3><p>Hello [<b>{{ user.email() }}</b>] <p></h3>
    <h4><p>Welcome to the File Storage Application</p></h4>

    <p><a href='{{ url }}'><b>Logout</b></a></p>

<h3><b><u>Current Path:</u></b> {{ path }}</h3>
{% if pwd.superkey %}
<b><a href="/open?change_dir=../">../</a></b>
{% endif %}
<p>
<div>
<!-- <h3><b><u>Current Path:</u></b> {{ path }}</h3> -->
</div>

<p>
<div>
<h3>Directories:</h3>
<form action="/open" method="post">
    <input type="text" placeholder="Name" name="make_dir" required>
    <input type="submit" value="Create">
</form>
<br/>
{% for d in subdir_list %}

</div>
<form method="post" action="/open">

<a href="/open?change_dir={{ d.get().name }}">
{{ d.get().name }}
</a>

&nbsp;

    <input type="text" placeholder="New Name"name="new_name" required>
    <input type="hidden" name="rename_dir" value="{{ d.get().name }}">
    <input type="submit" value="Rename">

&nbsp;
<a href="/open?delete_dir={{ d.get().name }}">
<b>Delete</b>
</a>
    </form>
<br/>
{% endfor %}
</p>

<p>
<div>
<h3>Upload:</h3>
<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
    Upload File: <input type="file" name="file" required/><br/>
    <br><input type="submit" value="Upload"/>
</form>
</div>
<br/>
{% for d in file_list %}


<form method="post" action="/open">

<br>
<a href="/download?download={{ d.get().name }}">

</a>
<a href="/download?download={{ d.get().name}}">
<b>{{ d.get().name }}</b>
</a>

&nbsp;

    <input type="text" name="new_name" required>
    <input type="hidden" name="rename_file" value="{{ d.get().name }}">
    <input type="submit" value="Rename">

&nbsp;

<a href="/download?download={{ d.get().name}}">
<b>Download |</b>
</a>
<a href="/open?delete_file={{ d.get().name }}">
<b>| Delete</b>
</a>




<!-- <a href="/open?file_properties={{ d.get().name}}">
  {{ d.get().name}}

Properties
</a> -->

</form>
{% endfor %}
</p>

</body>
</html>
