<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>CSP Assignment</title>
</head>
<body>
<h2><p>Hello [<b>{{ user.email() }}</b>] <p></h2>
  <h3><p>Welcome to the Storage application</p></h3>
<p>You can {{ url_string }} <a href='{{ url }}'><b>here</b></a></p>

<p>
<div>
<h3>Current Directory: {{ path }}</h3>
{% if pwd.superkey %}
<a href="/open?change_dir=../">../</a>
{% endif %}
</p>
</div>

<p>
<div>
<h3>Directories:</h3>
<form action="/open" method="post">
    <input type="text" placeholder="Directory Name" name="make_dir" required>
    <input type="submit" value="New Directory">
</form>
<br/>
{% for d in subdir_list %}

</div>
<form method="post" action="/open">
<a href="/open?delete_dir={{ d.get().name }}">
Delete
</a>


&nbsp;


    <input type="text" placeholder="New Name"name="new_name" required>
    <input type="hidden" name="rename_dir" value="{{ d.get().name }}">
    <input type="submit" value="Rename">

&nbsp;
<a href="/open?change_dir={{ d.get().name }}">
{{ d.get().name }}
</a>
    </form>
<br/>
{% endfor %}
</p>

<p>
<h3>Files upload:</h3>
<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
    Upload File: <input type="file" name="file" required/><br/>
    <br><input type="submit" value="Upload"/>
</form>
<br/>
{% for d in file_list %}


<form method="post" action="/open">

<br>
<a href="/download?download={{ d.get().name }}">

</a>
&nbsp;

    <input type="text" name="new_name" required>
    <input type="hidden" name="rename_file" value="{{ d.get().name }}">
    <input type="submit" value="Rename">

&nbsp;
<a href="/download?download={{ d.get().name}}">
{{ d.get().name }}
</a>
<a href="/open?delete_file={{ d.get().name }}">
Delete
</a>
<br>


<!-- <a href="/open?file_properties={{ d.get().name}}">
  {{ d.get().name}}

Properties
</a> -->

</form>
{% endfor %}
</p>

</body>
</html>
